
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "reset";

*, *:before, *:after {
	box-sizing: border-box
}

body {
	font-family: $body-font;
	background: $body-bg;
}

.content {
	background: #01354A;
	color: white;
	font-size: 2em;
	min-height: 100vh;
	position: relative;
}
